.navbar {
    background-color: #333;
    padding: 10px;
    text-align: left;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar span {
    color: lightgray;
    margin: 0 10px;
}

.flashes {
    list-style: none;
    padding: 0;
    color: red;
}
